.App {
  font-family: sans-serif;
  text-align: center;
}

.user-card {
  border: 0.1rem solid black;
  padding-block: 2rem;
  margin-block-end: 1rem;
}

.user-image {
  height: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.user-button {
  color: white;
  background-color: turquoise;
  border: none;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border-radius: 0.4rem;
}
